include /src/components/checkbox/checkbox
include /src/components/icon/icon


.container
  protocol-header(
    go-back='protocol.accident-scheme',
    step-title='Схема №1'
  )

  h3.protocol__sectionHeader А и В двигались по разделительной полосе. Таким образом, А и В нарушили п. 9.9 ПДД.

  .padding_vertical_half.text_center
    img(src='/images/schema-of-accident.jpeg')

  .padding_vertical_half
    a.button.button_lg.button_block(ui-sref='protocol.additional-circumstances') Далее
