include /src/components/icon/icon

.auth
  .container-fluid.auth__form
    include /src/components/big-logo/big-logo

    h2 Забыли пароль?

    form.form(ng-submit='AuthCtrl.recoverPassword()')
      .form__group.margin_bottom_half
        label.form__addon(for='login')
          +icon({icon: 'user'})
        input.form__input(
          id='login'
          name='login'
          placeholder='Введите телефон аккаунта'
        )

      p.form__message.form__message_error(ng-show='AuthCtrl.isLoginError') Пользователя с такими данными нет

      .padding_bottom_half
          button.button.button_block.button_grey ОТПРАВИТЬ
