.modal__header
  .modal__close(ng-click='$ctrl.cancel()') &times;
  h3.modal__caption Соглашение об обработке персональных данных

.modal__body.padding
  p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
  p Все лица заполнившие сведения составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
  p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
