.auth
  display flex
  align-items center
  justify-content center
  text-align center
  min-height 100%
  padding-top 15px
  padding-bottom 15px
  background #fffcef
  &__form
    max-width 320px
    width 100%
