.counter
  display flex
  span
    display inline-flex
    width 2rem
    height 1.5rem
    line-height 1
    box-shadow none
    border none
    outline none
    background-position center
    background-size 1.25rem
    background-repeat no-repeat
    background-color #d4d5d6
    cursor pointer
    &:first-child
      background-image url('/images/svg/minus.svg')
    &:last-child
      background-image url('/images/svg/plus.svg')
    button
      display none
  input
    width 2rem
    border none
    box-shadow none
    text-align center
    color #333
    background none
