.partners

  .partner
    border 2px solid #bebebe
    border-radius 3px
    &__header, &__body, &__footer
      padding 10px
    &__header, &__footer
      background #eee
    &__header
      border-bottom 2px solid #bebebe
    &__footer
      border-top 2px solid #bebebe
    &__link
      display inline-block
      max-width 100%
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
