.modal__header
  .modal__close(ng-click='$ctrl.close()') &times;

.modal__body.container-fluid
  p {{$ctrl.message}}

.modal__footer.clearfix
  .float-right
    button.button.button_grey.button_sm(ng-click='$ctrl.close()') OK
