.padding
  padding 15px !important
  &_top
    padding-top 30px !important
    &_half
      padding-top 15px !important
  &_bottom
    padding-bottom 30px !important
    &_none
      padding-bottom 0 !important
    &_half
      padding-bottom 15px !important
  &_vertical
    padding-top 30px !important
    padding-bottom 30px !important
    &_half
      padding-top 15px !important
      padding-bottom 15px !important
  &_none
    padding 0

.margin
  &_vertical
    margin-top 30px !important
    margin-bottom 30px !important
    &_half
      margin-top 15px !important
      margin-bottom 15px !important
  &_bottom
    &_half
      margin-bottom 15px !important
    &_small
      margin-bottom 5px !important
  &_left
    &_auto
      margin-left auto
  &_right
    &_half
      margin-right 15px !important
  &_none
    margin 0

.visibility
  &_hidden
    visibility hidden
