.navbar
  display flex
  height 100%
  @media (max-width 992px)
    flex-direction column
    align-items center
    padding 15px
  &__item
    display flex
    align-items center
    position relative
    margin-left 15px
    margin-right 15px
    color #4f4e57
    font-weight 600
    @media (min-width 992px)
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0
    &:before
      height 0
      content ''
      position absolute
      top 0
      left 0
      right 0
      background #f59c00
      transition height .2s
    &_active
      color #f59c00
      &:before
        height 3px
      .navbar__link
        cursor default
    &_right
      margin-left auto
    @media (max-width 992px)
      width 100%
      padding-top 10px
      padding-bottom 10px
      justify-content center
      &:not(:first-child)
        border-top 1px solid #ddd
      &:before
        height 0
  &__link
    text-decoration none
    color inherit
    transition .2s
    &:hover
      color #f59c00
