.button
  position relative
  top 0
  display inline-block
  padding 0 1.25rem
  line-height 2rem
  border 0
  background #f59c00
  color white
  font-size 1rem
  text-align center
  cursor pointer
  text-decoration none
  border-radius 2px
  transition background top .2s
  &:hover
    background #ffba00
  &[disabled]
    background @background
    cursor default
    opacity .5
  &_grey
    background #616161
    &:hover
      background #363636
    &[disabled]
      background @background
  &_lightgrey
    background #a2a2a2
    &:hover
      background #dcdcdc
  &_block
    width 100%
  &_underlined
    font-size 1rem !important
    font-weight 400
    text-transform none
    &:after
      content ''
      display block
      position absolute
      bottom 0
      left 0
      right 0
      height 3px
      background #f28900
      transition .2s
    &:hover:after
      background #f59c00
    &:active
      top 3px
      &:after
        height 0
  &_lg
    line-height 2.5rem
    padding 0 1.4rem
    font-size 1.15rem
  &_sm
    line-height 1.85rem
    padding 0 1rem
    font-size .85rem
