.leaflet
  &-control
    border none !important
    box-shadow 0 1px 5px rgba(0,0,0,0.65) !important
    &-attribution
      display none
  &__wrap
    position relative
  &__controlBtn
    display inline-flex
    align-items center
    justify-content center
    position absolute
    z-index 800
    width 26px
    height 26px
    margin 0
    padding 0
    border none
    font bold 18px 'Lucida Console', Monaco, monospace
    background #fff
    box-shadow 0 1px 5px rgba(0,0,0,.65)
    border-radius 4px
    text-align center
    cursor pointer
    transition .4s
    @media (max-width 769px)
      width 30px
      height 30px
    &:hover
      background #f4f4f4
    &_rightTop
      top 10px
      right 10px
    &_rightBottom
      bottom 10px
      right 10px
  &__search
    align-items center
    justify-content center
    position absolute
    top 10px
    left 50%
    z-index 800
    transform translateX(-50%)
    width 100%
    min-width 150px
    max-width 420px
    padding-left 46px
    padding-right 46px
    .form__group
      box-shadow 0 1px 5px rgba(0,0,0,.65)
      border-radius 4px
