.checkbox
  display inline-flex
  align-items center
  &__input
    display none
    ~ .checkbox__icon
      position relative
      display inline-block
      width 36px
      min-width @width
      height 22px
      margin-right 2px
      background #d4d5d6
      border-radius @height
      cursor pointer
      transition .2s
      &:before
        content ''
        position absolute
        left 1px
        top 1px
        display block
        width 20px
        height @width
        border-radius 50%
        background #fff
        transition .2s
    &:checked
      ~ .checkbox__icon
        background #f59c00
        &:before
          left 15px
  &__icon label
    cursor pointer
  &__label
    padding-left 6px
    line-height 1.2
