.errorPage
  include /src/components/big-logo/big-logo

  .errorPage__statusCode 404
  .errorPage__statusMsg Страница не найдена
  .errorPage__info Возможно Вы попытались загрузить несуществующую или удаленную страницу.
    br
    | Перейдите на
    = ' '
    a.link.text_highlight(href='/') главную страницу
    = ' '
    | и попробуйте начать оттуда.
