@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic-ext,latin-ext')

@import '../node_modules/leaflet/dist/leaflet.css'

@import 'assets/styles'
@import 'components'
@import 'app'
