.bigLogo
  &__caption
    text-shadow -0.077rem 0.045rem 0.118rem rgba(0, 0, 0, 0.2)
    font-size 2.5rem
    font-weight 300
    color #363636
    margin-bottom 30px
  &__image
    max-height 10rem
    margin-bottom 20px
