include /src/components/checkbox/checkbox


.container
  protocol-header(
    go-back='protocol.accident-scheme',
    step-title='Обстоятельства (6/7)'
  )

  form
    .protocolField
      h4.protocol__sectionHeader Обстоятельства ДТП. Необходимо указать дополнительные обстоятельства ДТП:



    .padding_vertical_half
      a.button.button_lg.button_block(ui-sref='protocol') Далее
